<!--Quienes somos-->
<section id="aboutus">
  <div class="aboutus-box">
    <h2 class="aboutus-title">Quiénes somos</h2>
    <article class="adalaber">
      <div class="image-container">
        <a
          class="adalaber-image teresa"
          src="./assets/images/avatar-teresa-martinez.png"
          alt="Teresa Martínez"
        ></a>
      </div>
      <div class="description-container">
        <h4 class="adalaber-name adalaber-name-left"><a class="about__teresa--link" href="about-teresa.html" title="saber mas de Teresa">Teresa Martínez</a></h4>

        <p class="adalaber-description adalaber-description-left">
          Soy una apasionada de la lectura y la montaña, aunque mis estudios
          iban encaminados hacia la geología y el medio ambiente, he decidido
          dar un giro de 180º en mi carrera profesional y adentrarme en el mundo
          del front-end de la mano de Adalab.
        </p>
        <div class="icons">
          <ul class="social">
            <li class="social-link">
              <a class="link" href="https://twitter.com/teresamarfer"
                ><i class="fab fa-twitter"></i> ·</a
              >
            </li>

            <li class="social-link">
              <a class="link" href="mailto:teresamf64@gmail.com"
                ><i class="fas fa-envelope"> ·</i></a
              >
            </li>
            <li class="social-link">
              <a class="link" href="https://github.com/TeresaMartinezFernandez"
                ><i class="fab fa-github-alt"> ·</i></a
              >
            </li>
            <li class="social-link">
              <a
                class="link"
                href="https://www.linkedin.com/in/teresamartinezfernandez1979/"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="adalaber">
      <div class="image-container">
        <a
          class="adalaber-image marina"
          src="./assets/images/avatar-marina-fernandez.png"
          alt="Marina Fernández"
        ></a>
      </div>
      <div class="description-container description-container-right">
        <h4 class="adalaber-name adalaber-name-right"><a class="about__teresa--link" href="about-marina.html" title="saber mas de Marina">Marina Fernández</a></h4>
        <p class="adalaber-description adalaber-description-right">
          Tras interesarme por mil y una actividades diferentes y cursar mis
          estudios en Traducción e Interpretación descubrí Adalab y enseguida me
          embaucó. El mundo de la programación aún es un gran desconocido para
          mí pero he venido para quedarme y hacer de ello mi nueva profesión.
        </p>
        <div class="icons">
          <ul class="social social-right">
            <li class="social-link">
              <a class="link" href="https://twitter.com/meryplif"
                ><i class="fab fa-twitter"></i> ·
              </a>
            </li>
            <li class="social-link">
              <a class="link" href="mailto:marina.fdezpas@gmail.com"
                ><i class="fas fa-envelope"></i> ·
              </a>
            </li>
            <li class="social-link">
              <a class="link" href="https://github.com/marina-fp"
                ><i class="fab fa-github-alt"></i> ·</a
              >
            </li>
            <li class="social-link">
              <a
                class="link"
                href="https://www.linkedin.com/in/marina-fern%C3%A1ndez-pastor-1250a594/"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="adalaber">
      <div class="image-container">
        <a
          class="adalaber-image marta"
          src="./assets/images/avatar-marta-garcia.png"
          alt="Marta García"
        ></a>
      </div>
      <div class="description-container">
        <h4 class="adalaber-name adalaber-name-left"><a class="about__teresa--link" href="about-marta.html" title="saber mas de Marta">Marta G.Garrido</a></h4>
        <p class="adalaber-description adalaber-description-left">
          Encantada de poder descubrir el mundo de la programación con Adalab.
          Soy graduada en ADE y llevaba un tiempo buscando mi sitio en el sector
          equivocado. La programación front-end es todo un mundo por descubrir,
          es hablar de futuro y de nuevos retos, nadie dijo que el camino fuera
          fácil pero pienso alcanzar la meta.
        </p>
        <div class="icons">
          <ul class="social">
            <li class="social-link">
              <a class="link" href="https://twitter.com/28MusicIsLife"
                ><i class="fab fa-twitter"></i> ·</a
              >
            </li>
            <li class="social-link">
              <a class="link" href="mailto:ggarridomarta@gmail.com"
                ><i class="fas fa-envelope"></i> ·</a
              >
            </li>
            <li class="social-link">
              <a class="link" href="https://github.com/Marta2Ges"
                ><i class="fab fa-github-alt"></i> ·</a
              >
            </li>
            <li class="social-link">
              <a
                class="link"
                href="https://www.linkedin.com/in/marta-garc%C3%ADa-garrido-a6868585/"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
    <article class="adalaber">
      <div class="image-container">
        <a
          class="adalaber-image nadia"
          src="./assets/images/avatar-nadia-murias.png"
          alt="Nadia Murias"
        ></a>
      </div>
      <div class="description-container description-container-right">
        <h4 class="adalaber-name adalaber-name-right"><a class="about__teresa--link" href="about-nadia.html" title="saber mas de Nadia">Nadia Murias</a></h4>
        <p class="adalaber-description adalaber-description-right">
          Tras varios años en una agencia de marketing dedicándome a la medición
          de sitios web de diversos sectores y empresas, he decidido pasar del
          análisis de datos a la creación de páginas. Adalab me ha ayudado en
          este camino para cambiar mi futuro y convertirme en una auténtica
          desarrolladora front-end.
        </p>
        <div class="icons">
          <ul class="social social-right">
            <li class="social-link">
              <a class="link" href="https://twitter.com/NadiaMurias"
                ><i class="fab fa-twitter"></i> ·</a
              >
            </li>
            <li class="social-link">
              <a class="link" href="mailto:nadiamurias@gmail.com"
                ><i class="fas fa-envelope"></i> ·</a
              >
            </li>
            <li class="social-link">
              <a class="link" href="https://github.com/Nadia3584"
                ><i class="fab fa-github-alt"></i> ·</a
              >
            </li>
            <li class="social-link">
              <a class="link" href="https://www.linkedin.com/in/nadiamurias"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </div>
</section>
