<header class="header">
  <h1 class="header-text">Adatools</h1>

  <nav class="header-nav">
    <ul class="header-list">
      <li class="row">
        <a class="link-team" title="Ir a equipo" href="./index.html#team">Equipo</a>
      </li>
      <li class="row">
        <a class="link-aboutus" title="Ir a quiénes somos" href="./index.html#aboutus">Quiénes somos</a>
      </li>
      <li class="row">
        <a class="link-contact" title="Ir a contacto" href="#contact">Contacto</a>
      </li>
    </ul>
  </nav>
</header>