<!--Equipo-->
<section id="team">
  <div class="team-box">
    <h2 class="team-title">Equipo</h2>
    <p class="team-description">
      Diferentes ramas que se fusionan a la perfección. Somos un grupo
      hetereogéneo de cuatro mujeres con una misma meta, convertirnos en
      programadoras Front-End.
    </p>
    <p class="team-description1">
      Con alta capacidad resolutiva y mucho entusiasmo esperamos también
      poder aportar nuestro granito de arena para hacer crecer la
      presencia femenina en el sector tecnológico.
    </p>
    <div class="rectangle-small"></div>
  </div>
</section>

<!--Fortalezas y debilidades-->
<section>
  <div class="strengths-box">
    <div class="strengths-box-small box1">
      <h3 class="strengths-title">Fortalezas</h3>
      <p class="strengths-text">
        En Adatools nos gusta tomar las decisiones de forma consensuada y
        el apoyo entre compañeras es esencial en nuestro equipo, aspecto
        que consideramos de gran importancia para llevar a cabo un trabajo
        bien hecho. Para nosotras el diálogo y el compromiso son clave en
        el proceso de convertirnos en programadoras de calidad.
      </p>
    </div>
    <div class="strengths-box-small box2">
      <h3 class="weaknesses-title">Debilidades</h3>
      <p class="weaknesses-text">
        Somos un equipo muy heterogéneo que estamos descubriendo por
        primera vez el mundo de la programación y aunque nos falta la
        experiencia ¡nos sobran las ganas de seguir aprendiendo! Además, convertir nuestras debilidades en
        fortalezas es la clave para superar los retos a los que nos enfrentamos como nuevas desarrolladoras.
      </p>
    </div>
  </div>
</section>