:root {
  /*Colores*/
  --blue-green: #099d8d;
  --aqua: #14d9c4;
  --white: white;
  --grey: #54585a;
  /*Fuentes*/
  --title: "Rubik", sans-serif;
  --text: "Open Sans", sans-serif;
  --claim: "Open Sans", sans-serif;
}
