.contact-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $title;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: $aqua;
  text-transform: uppercase;
}
.contact-text-box {
  margin: 10px 0 0;
  justify-content: center;
  font-family: $text;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $grey;
}
