.contact-title {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $title;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: $aqua;
  text-transform: uppercase;
}
.contact-text-box {
  margin: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $text;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $grey;
  & .text-small {
    font-size: 12px;
    margin-top: 30px;
  }
}

.contact-description {
  padding: 0 20px 0 20px;
}
