.aboutus-box {
  margin: 0 0 0;
  padding: 30px 15px 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aboutus-title {
  height: 45px;
  margin: 0 47.5px 30px 49.5px;
  font-family: var(--title);
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
  text-transform: uppercase;
}
.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
.adalaber-image {
  height: 180px;
  width: 180px;
  margin: 0 55px 15px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.adalaber-name {
  height: 45px;
  margin: 15px 70.5px 0 72.5px;
  font-family: var(--text);
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}

.img {
  width: 180px;
  height: 180px;
  margin: 0px 70px 0px 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.adalaber-description {
  margin: 0px 15px 15px 15px;
  font-family: var(--text);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
.icons {
  align-content: space-between;
}
.social {
  display: flex;
  margin: 0px 98px 45px 98px;
  size: 16px;
  justify-content: center;
  padding-left: 0%;
  list-style: none;
  color: var(--brand-1);
}
.social-link {
  padding: 10px;
}
.fab {
  color: var(--blue-green);
  transform: scale(1.5);
}
.fas {
  color: var(--blue-green);
  transform: scale(1.5);
}
