#aboutus {
  scroll-margin-top: 50px;
}
.aboutus-box {
  margin: 0 0 0;
  padding: 30px 15px 0px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 1200px) {
    margin: 0 138px 0px 138px;
  }
}
.adalaber {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    margin: 0 30px 60px 30px;
  }
}
.adalaber:nth-child(odd) {
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    & .description-container {
      align-items: right;
    }
  }
}
.aboutus-title {
  height: 45px;
  margin-bottom: 30px;
  font-family: $title;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: $blue-green;
  text-transform: uppercase;
  @media all and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.adalaber-image {
  height: 180px;
  width: 180px;
  margin: 0 55px 0;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  @media all and (min-width: 768px) {
    height: 205px;
    width: 205px;
    margin: 0;
  }
}
.teresa {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/avatar-teresa-martinez.png);
  transition: background-image ease 1s;
  &:hover {
    background-image: url(../images/transition-teresa.jpg);
  }
}
.marina {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/avatar-marina-fernandez.png);
  transition: background-image ease 1s;
  &:hover {
    background-image: url(../images/transition-marina.jpg);
  }
}
.marta {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/avatar-marta-garcia.png);
  transition: background-image ease 1s;
  &:hover {
    background-image: url(../images/transition-marta.jpg);
  }
}
.nadia {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/avatar-nadia-murias.png);
  transition: background-image ease 1s;
  &:hover {
    background-image: url(../images/transition-nadia2.jpg);
  }
}
.adalaber-name {
  height: 45px;
  margin: 15px 70.5px 0 72.5px;
  font-family: $text;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: $black;
  @media all and (min-width: 768px) {
    text-align: left;
    margin: 0;
  }
}
.about__teresa--link {
  text-decoration: none;
  color: $black;
  transition: color ease 1s;
  &:hover {
    color: $blue-green;
  }
}

.adalaber-description {
  margin: 0px 30px 15px 30px;
  padding: 0px 15px;
  font-family: $text;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $grey;
  @media all and (min-width: 768px) {
    text-align: left;
    margin: 0;
    padding: 0px 0px;
  }
}
.adalaber-description-right {
  @media all and (min-width: 768px) {
    text-align: right;
  }
}
.adalaber-name-right {
  @media all and (min-width: 768px) {
    text-align: right;
  }
}
.description-container {
  @media all and (min-width: 768px) {
    margin-left: 30px;
  }
}
.description-container-right {
  @media all and (min-width: 768px) {
    margin-right: 30px;
  }
}
.icons {
  align-content: space-between;

  .link {
    text-decoration: none;
    display: flex;
  }
}
.social {
  display: flex;
  margin: 0px 98px 45px 98px;
  size: 16px;
  justify-content: center;
  padding-left: 0%;
  list-style: none;

  @media all and (min-width: 768px) {
    justify-content: start;
    margin: 0;
    margin-top: 15px;
  }
}
.social-right {
  @media all and (min-width: 768px) {
    justify-content: flex-end;
    margin: 0;
  }
}
.social-link {
  padding: 10px;
}

.fab {
  color: $blue-green;
  padding: 0px 5px 0px 0px;
  transition: color ease 1s;
  &:hover {
    color: purple;
  }
}
.fas {
  color: $blue-green;
  padding: 0px 5px 0px 0px;
  transition: color ease 1s;
  &:hover {
    color: purple;
  }
}
