.contact-form {
  padding: 58px 15px 60px 15px;
  & .form-field {
    padding-bottom: 13px;
    display: flex;
    flex-direction: column;
  }
  & .label {
    padding-bottom: 7px;
    font-size: 14px;
    font-family: $text;
    color: $grey;
  }
  @media all and (min-width: 768px) {
    padding: 0;
  }
}
.form-field-info {
  height: 45px;
  padding: 15px;
  font-family: $text;
  color: $lightgrey;
}
#message {
  height: 105px;
}
.button-submit {
  width: 290px;
  height: 45px;
  margin-top: 30px;
  text-transform: uppercase;
  color: $white;
  background-color: $blue-green;
  border-radius: 4px;
  border-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: $title;
  @media all and (min-width: 768px) {
    width: 206px;
    margin-top: 17px;
  }
  @media all and (min-width: 1200px) {
    width: 278px;
  }
}
.asterisk {
  color: $aqua;
}
.name {
  @media all and (min-width: 1200px) {
    width: 100%;
  }
}
.email {
  @media all and (min-width: 1200px) {
    width: 62%;
    margin-right: 44px;
  }
}
.phone {
  @media all and (min-width: 1200px) {
    width: 30%;
  }
}
.message {
  @media all and (min-width: 1200px) {
    width: 100%;
  }
}
.form-submit {
  @media all and (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
  }
  @media all and (min-width: 1200px) {
  }
}
