.hero {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.claim-box {
  display: flex;
  align-items: center;
  align-self: flex-end;
  background-color: #ffffff;
  z-index: 2;
  transform: translate(0px, 25px);
}
.claim-text {
  height: 50px;
  font-family: var(--claim);
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: var(--black);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
}
