#team {
  scroll-margin-top: 50px;
}
.team-box {
  position: relative;
  padding: 60px 15px 30px 15px;
  background-color: $white;
}

.team-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $title;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: $aqua;
  text-transform: uppercase;
}
.team-description {
  margin: 20px 20px 10px 20px;
  justify-content: center;
  font-family: $text;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $grey;
  @media all and (min-width: 768px) {
    padding: 20px 45px 30px 45px;
  }
  @media all and (min-width: 1200px) {
    padding: 10px 300px 20px 300px;
  }
}

.team-description1 {
  margin: 20px 20px 20px 20px;
  justify-content: center;
  font-family: $text;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $grey;
  @media all and (min-width: 768px) {
    padding: 0px 45px 30px 45px;
  }
  @media all and (min-width: 1200px) {
    padding: 10px 300px 20px 300px;
  }
}
.rectangle-small {
  box-sizing: border-box;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 30px;
  height: 30px;
  left: 50%;
  top: 100%;
  background-color: white;
}
.strengths-box {
  padding: 30px 15px 45px 15px;
  background-color: rgba(184, 184, 185, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.strengths-box-small {
  @media all and (min-width: 768px) {
    margin: 12.5px 15px 22.5px 15px;
    width: 50%;
  }
  @media all and (min-width: 1200px) and (max-width: 1500px) {
    margin: 45px 60px 60px 60px;
  }
}
.box1 {
  margin-bottom: 30px;
}
.strengths-title {
  margin: 0;
  font-family: $title;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: $blue-green;
  padding-bottom: 15px;
}
.strengths-text {
  margin: 0;
  font-family: $text;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $grey;
}
.weaknesses-title {
  margin: 0;
  font-family: $title;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: $blue-green;
  padding-bottom: 15px;
}
.weaknesses-text {
  margin: 0;
  font-family: $text;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $grey;
}
