:root {
  /*Colores*/
  --blue-green: #099d8d;
  --aqua: #14d9c4;
  --white: white;
  --grey: #54585a;

  /*Fuentes*/
  --title: rubik;
  --text: OpenSans;
}

/*header*/
.header {
  font-family: var(--title);
  color: #ffffff;
  width: 320px;
  height: 105px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}
.team {
  width: 160px;
  height: 30px;
  padding: 15px 80px;
  opacity: 0.95;
  background-color: var(--blue-green);
  font-family: var(--title);
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
  /* margin: auto;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*box-sizing: border-box;*/
}
.content {
  width: 320px;
  height: 45px;
  opacity: 0.9;
  margin: 0;
  background-color: var(--aqua);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 30px;
}
.row {
  width: 56px;
  height: 30px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-1 {
  width: 56px;
  height: 30px;
  margin: auto;
  font-family: var(--title);
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
}
.nav-2 {
  width: 121px;
  height: 30px;
  margin: auto;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
}
.nav-3 {
  width: 80px;
  height: 30px;
  margin: auto;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
}

/*About us*/

.Rectangle-3copy {
  width: 320px;
  height: 504px;
  padding: 30px 15px;
  background-color: var(--white);
}

.Title-Equipo {
  width: 89px;
  height: 45px;
  margin: 0 99.5px 15px 101.5px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #14d9c4;
}

.Description {
  width: 290px;
  height: 384px;
  margin: 15px 0 0;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

/*Fortalezas y debilidades*/
.Rectangle {
  width: 290px;
  height: 504px;
  margin: 0 0 0 0;
  padding: 30px 15px 45px;
  background-color: rgba(184, 184, 185, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-1 {
  width: 290px;
  height: 45px;
  margin: 0;
  font-family: var(--title);
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
  /*background-color: blue;*/
}

.text-1 {
  width: 290px;
  height: 192px;
  margin: 0 0 30px;
  font-family: var(--text);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  /*background-color: rgb(231, 149, 149);*/
}
.title-2 {
  width: 290px;
  height: 45px;
  margin: 0 0 0;
  font-family: var(--title);
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}
.text-2 {
  width: 290px;
  height: 192px;
  margin: 0 0 0;
  font-family: var(--text);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}

/*quienes somos*/
.intro {
  width: 290px;
  height: 2225px;
  margin: 0 0 0;
  padding: 30px 15px 45px;
  background-color: #ffffff;
}
.who {
  width: 193px;
  height: 45px;
  margin: 0 47.5px 30px 49.5px;
  font-family: var(--title);
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}
.image {
  width: 180px;
  height: 180px;
  margin: 0 55px 15px;
  border-radius: 4px;
  border: solid 5px rgba(0, 0, 0, 0.08);
}
.name {
  width: 147px;
  height: 45px;
  margin: 15px 70.5px 0 72.5px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--black);
}
.description {
  width: 290px;
  height: 200px;
  margin: 60px 0 15px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
.rectangle-6 {
  width: 320px;
  height: 250px;
  margin: 0 0 0;
  padding: 30px 74px 45px;
  border: solid 1px #b8b8b9;
  background-color: #ffffff;
}
.nombre-del-grupo-2 {
  width: 172px;
  height: 20px;
  margin: 0 0 20px;
  font-family: var(--text);
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #b8b8b9;
}
.equipo-quienes-somos {
  width: 114px;
  height: 60px;
  margin: 20px 29px 30px;
  opacity: 0.75;
  font-family: var(--text);
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.link {
}
.quienes-somos {
}
.bitmap {
  width: 115.9px;
  height: 45px;
  margin: 30px 28.1px 0 28px;
}
