* {
  margin: 0;
  --blue-green: #099d8d;
  --aqua: #14d9c4;
  --title: rubik;
  --text: OpenSans;
}
/*header*/
.header {
  font-family: var(--title);
  border: 1px solid black;
  color: white;
  width: 320px;
  height: 105px;
}
.team {
  font-size: 16px;
  width: 100%;
  height: 60px;
  opacity: 0.95;
  background-color: var(--blue-green);
}
.content {
  width: 100%;
  height: 45px;
  opacity: 0.9;
  background-color: var(--aqua);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-1 {
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}
.nav-2 {
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-3 {
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*Fortalezas y debilidades*/
.Rectangle {
  width: 320px;
  height: 579px;
  margin: 504px 0 0;
  padding: 30px 15px 45px;
  background-color: rgba(184, 184, 185, 0.2);
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.title-1 {
  width: 290px;
  height: 45px;
  font-family: var(--title);
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
  /*background-color: blue;*/
}
.text-1 {
  width: 290px;
  height: 192px;
  margin: 45px 0 30px;
  font-family: var(--text);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  /*background-color: rgb(231, 149, 149);*/
}
.title-2 {
  width: 290px;
  height: 45px;
  margin: 30px 0 0;
  font-family: var(--title);
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.05;
  letter-spacing: normal;
  text-align: center;
  color: var(--blue-green);
}
.text-2 {
  width: 290px;
  height: 192px;
  margin: 75px 0 0;
  font-family: var(--text);
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
}
